
body {
  background-color: black;
  color: white;
  font-family: helvetica;
}

.header {text-align: left; 
    font-size: 40px;
    padding: 20px;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 20s; 
  }

   img {
height:390px;
width: 636.5px;
position:absolute;
left: 400px;
 top: 170px;

}

  .about {text-align: left; 
    font-size: 20px;
    padding: 20px;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 20s; 
  }
  
  .Website {text-align: left; 
    font-size: 20px;
    padding: 20px;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 20s; 
  }
  
  .Map {text-align: left; 
    font-size: 20px;
    padding: 20px;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 20s; 
  }

  .Font {text-align: left; 
    font-size: 20px;
    padding: 20px;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 20s; 
  }

  .third {text-align: left; 
    font-size: 20px;
    padding: 20px;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 20s; 
  }
  .Influences {text-align: left; 
    font-size: 20px;
    padding: 20px;
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 20s; 
  }

 

  a:link{
    color: #A4A4A4;
}

/* visited link */
a:visited {
    color: #A4A4A4;
}

/* mouse over link */
a:hover {
    color: white;
}
/* selected link */
a:active {
    color: #A4A4A4;
}

  